html
  head
    title aw-watcher-mpv visualization
    style
      | th { text-align: left; }
      | body { font-family: sans-serif; }
  body
    p#status

    table#aw-watcher-mpv-vis-table
      
    script(src="bundle.js")